[tool.pyright]
typeCheckingMode = "strict"
include = ["to-do"]

[tool.black]
line-length = 99

[tool.isort]
profile = "black"

[tool.len8]
include = ["todo", "tests"]
code-length = 99
docs-length = 72
strict = true

[tool.mypy]
strict = true
warn_unused_ignores = false
